# IDE
.idea
.vscode

# Dependencies
**/node_modules/

# Build
**/dist/
**/build/

# Logs
*.log
logs/

# Environment
.env
.env.local
.env.*.local

# System
.DS_Store
Thumbs.db

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Frontend
.npm
.eslintcache
*.local